{% extends 'base.html' %}


{% block content %}
<div class="container col-12 col-md-6 my-5 bg-white border border-1">
  <div class="container p-3">
    <h1 class="text-center">Amazing Quiz</h1>
    <p class="text-center">The most challenging quiz in the world</p>
  </div>

  <form method="POST">
    <!-- Differentiate each input id by using question.id, option and forloop count -->
    {% csrf_token %}
    {% for question, answers in data %}
    <div class="container p-3 p-sm-5 my-3 border border-1">
      <p>{{ forloop.counter }}. {{ question.text }}</p>

      {% for option in answers %}
        <input 
          type="radio"
          id="{{ question.id }}{{ forloop.counter }}{{ option.option }}"
          name="{{ question.id }}" 
          value="{{ option.option }}" 
          class="btn-check"
          autocomplete="off"
        >
        <label 
          for="{{ question.id }}{{ forloop.counter }}{{ option.option }}" 
          class="container my-1 btn btn-outline-primary"
        >
          {{ option.text }}
        </label>
      {% endfor %}

    </div>
    {% endfor %}
    <div class="text-center">
      <button class="btn btn-success text-center mb-3">
        Submit
      </button>
    </div>
  </form>
</div>
{% endblock %}