<nav class="px-3 navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">AQUIZ</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 d-flex">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Play</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'board' %}">Leader Board</a>
        </li>
        <li class="nav-item">
          {% if request.user.is_authenticated %}
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          {% endif %}
        </li>
    </div>
  </div>
</nav>