{% extends 'base.html' %}

{% block content %}
<div class="container col-sm-10 col-md-6 col-lg-4 p-5 bg-white border border-1">
  <h2 class="text-center">Reset Password</h2>
  <p class="text-center text-muted">Please enter your email</p>
  
  <form method="POST">
    {% csrf_token %}
    
    {% for field in form %}
    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
    <input 
      id="{{ field.id_for_label }}"
      type="{{ field.field.widget.input_type }}" 
      name="{{ field.html_name }}" 
      class="form-control"
      required
    >
    {% endfor %}
  
    <button class="container btn btn-primary text-center mt-3">
      Submit
    </button>
  </form>
</div>

{% endblock %}